<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <Bluegrams.Application.Properties.Settings>
        <Culture></Culture>
      </Bluegrams.Application.Properties.Settings>
      <Bluegrams.Application.UpdateCheckerBase>
        <SkipVersion>False</SkipVersion>
        <CheckedUpdate>0.0</CheckedUpdate>
      </Bluegrams.Application.UpdateCheckerBase>
    </Roaming>
    <PC_LAPTOP-VM351CRF>
      <Bluegrams.Application.Properties.Settings>
        <Updated>True</Updated>
      </Bluegrams.Application.Properties.Settings>
    </PC_LAPTOP-VM351CRF>
  </userSettings>
</configuration>